* {
  margin: 0;
  padding: 0;
}

.iconPerfil {
  width: 50px;
}

.previsao {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  min-height: 100vh;
  background-size: cover;
  background-image: url(http://www.localhost/Hackathon2023/assets/web/images/rio3.avif);

  backdrop-filter: blur(13.6px);
  -webkit-backdrop-filter: blur(13.6px);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  margin: 5px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #fafafa;
  border-radius: 8px;
}
.card2 {
  margin: 5px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #fafafa;
  border-radius: 8px;
}

.card2:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.card-transparent {
  background: transparent;
}
.header {
  height: 8%;
  width: 100%;
  background-color: #fafafa;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.logo {
  font-size: 35px;
  text-decoration: none;
  padding: 10px;
  float: left;
  display: block;
  color: #231a32;
  font-weight: 700;
}
.header .menu a {
  padding: 15px 25px;
  font-size: 20px;
  display: block;
  color: #2ebd94;
  text-decoration: none;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.header .menu a {
  color: #2ebd94;
}
.header .menu a:hover {
  background: #2ebd94;
  color: #fafafa;
}
.header .menu-icon {
  position: relative;
  float: right;
  padding: 30px 20px;
  cursor: pointer;
}
.header .nav-icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #2ebd94;
}
.header .menu-icon .nav-icon::before {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: #2ebd94;
  top: 7px;
  transition: all 0.2s ease-out;
}
.header .menu-icon .nav-icon::after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: #2ebd94;
  top: -7px;
  transition: all 0.2s ease-out;
}

.iconPerfil {
  margin-left: 10px;
  width: 50px;
}

.warning{
  color: #ff6400;
}